@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    .align-element {
        @apply max-w-5xl mx-auto px-4
    }
}

.active {
    background: #021431;
    border-radius: 5px;
    padding: 5px 10px;
    color: #dee5f0;
}

.active {
    background-color: black;
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
}

